@font-face {
  font-family: "Outfit-Regular";
  src: url("./assets/fonts/Outfit-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Outfit-Bold";
  src: url("./assets/fonts/Outfit-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Outfit-Black";
  src: url("./assets/fonts/Outfit-Black.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Outfit-Regular", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: dark light;

  --text-grey: #a8bec9;
  --text-grey-one: #1f3540;
  --low-opaq-grey: #607681;
  --orange: #f2b237;
  --green: #31c4be;

  color: var(--text-grey);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-theme="dark"] {
  --very-dark-grey: #152932;
  --dark-grey: #1f3641;
  --grey: #e0e0e0;
  --light-grey: #f0f0f0;

  .card {
    border-radius: 0.6rem;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.3);
  }
}

[data-theme="light"] {
  --very-dark-grey: #e0e0e0;
  --dark-grey: #f0f0f0;
  --grey: #152932;
  --light-grey: #1f3641;

  .card {
    border-radius: 0.6rem;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  }
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--very-dark-grey);
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}

/* @media (prefers-color-scheme: light) {
} */
